html(lang="en")
  head
    meta(charset="UTF-8")
  body(style="font-family: 'Roboto', sans-serif; display: flex; flex-direction: column; min-height: 100%; height: 100%; width: 100%; margin: 0;")
    div(style="background:#572364; color: #FFFFFF; text-align: center; padding: 25px 0px;")
      div(style="min-width: 0; margin: 5px;")
        a(href="http://fcq.uach.mx")
          img(src="https://i.imgur.com/XWJ1mLQ.png" alt="" style="max-width: 100%; max-height: 450px;")
    div(style="display: flex; flex-direction: column; padding: 1% 6%; flex: 1;")
      div
        h1
          b ! Registro exitoso !
      div
        p
          | Gracias por registrarte a la plataforma de la Facultad de Químicas.
          | Algunas de las acciones que podrás realizar mediante el uso de la plataforma 
          b son:
      div(style="display:flex; justify-content: center; flex-wrap: wrap;")
        div(style="max-width:300px; border: 1px solid #F5F5F5; margin: 2%")
          img(src="https://i.imgur.com/rhS81ev.jpg" alt="" width="100%" height="200" style="display: block;")
          p(style="padding: 4%;")
            b(style="font-size:24px;") Pedir material
            br
            br
            |                     Pide los materiales que necesitas para realizar tu práctica de laboratorio. 
            br
            br
            b Sólo pedir y recojer. Así de simple.
        div(style="max-width:300px; border: 1px solid #F5F5F5; margin: 2%")
          img(src="https://i.imgur.com/tj7wYvo.jpg" alt="" width="100%" height="200" style="display: block;")
          p(style="padding: 4%;")
            b(style="font-size:24px;") Administrar tus clases
            br
            br
            |                     Podrás ver las prácticas a realizar, tu historial, tus clases actuales y más. 
            br
            br
            b La vida académica más sencilla.
    footer
      link(href='http://fonts.googleapis.com/css?family=Roboto:400,900"' rel="stylesheet" type="text/css")
      link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,900" rel="stylesheet" type="text/css")
      div(style="display: flex; background: #201E1E; color: #FFFFFF; padding: 1%; margin-top: 4%; justify-content: center;")
        div(style="margin:2%; text-align: center;")
          a(href="http://fcq.uach.mx")
            img(src="https://i.imgur.com/OclWD0W.png" alt="" height="100" width="80")
          p
            b ® 2019 Facultad de Ciencias Químicas.
