<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet" type='text/css'/>
    </head>
    <body>
        <table style="border: none; border-collapse: collapse; margin: 0;" >
            <tr>
                <td style="border: none;">
                    <table align="center" border="1" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; border: none;">
                        <tr>
                            <td style="border: none;">
                                <table align="center" border="1" cellpadding="0" cellspacing="0" width="600" style="border: none; border-collapse: collapse;">
                                        <tr>
                                            <td align="center" bgcolor="#572364" style="padding: 40px 0 30px 0; border: none;">
                                                <img src="https://i.imgur.com/XWJ1mLQ.png" alt="Creating Email Magic" style="display: block;" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px; border: none;">
                                                <table border="1" cellpadding="0" cellspacing="0" width="100%" style="border: none; border-collapse: collapse;">  
                                                    <tr>
                                                        <td style="border: none;">
                                                            <font face="Roboto" size="+3"><b>! Registro exitoso !</b></font>                                                    
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 10px; border: none;">      
                                                            <font face="Roboto Condensed" size="+1">
                                                                <b>Bienvenido, {{username}}.</b> <br/>
                                                                Gracias por registrarte a la plataforma de la Facultad.<br/>
                                                                Con el uso de la plataforma <b>podrás:</b></font>                                        
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border: none;">
                                                            <table border="1" cellpadding="0" cellspacing="0" width="100%" style="border: none;">
                                                                <tr>
                                                                    <td width="260" valign="top" style="border: none;">
                                                                        <table border="1" cellpadding="0" cellspacing="0" width="100%" style="border: none;">
                                                                            <tr>
                                                                                <td style="border: none;">
                                                                                    <img src="https://i.imgur.com/rhS81ev.jpg" alt="" width="100%" height="140" style="display: block;" />
                                                                                </td>
                                                                            </tr>  
                                                                            <tr>
                                                                                <td style="padding: 5px; border: 1px solid #808080;">  
                                                                                    <font face="Roboto" size="4"><b>Pedir material para realizar tus prácticas</b></font><br/> <br/>  
                                                                                    <font face="Roboto Condensed">
                                                                                        Pide los materiales que necesitas para realizar tu práctica. <br/>
                                                                                        <b>Sólo pedir y recojer. Así de simple.</b>  
                                                                                    </font>                                                                  
                                                                                </td>                                                               
                                                                            </tr>                                                               
                                                                        </table>                                                               
                                                                    </td>
                                                                        
                                                                    <td style="font-size: 0; line-height: 0; border: none;" width="20">                                                              
                                                                        &nbsp;                                                               
                                                                    </td>     
                                                                    <td width="260" valign="top" style="border: none;">
                                                                        
                                                                        <table border="1" cellpadding="0" cellspacing="0" width="100%" style="border: none;">                                                                
                                                                            <tr>                                                                
                                                                                <td style="border: none;">                                                                
                                                                                    <img src="https://i.imgur.com/tj7wYvo.jpg" alt="" width="100%" height="140" style="display: block;" />                                                                
                                                                                </td>                                                                
                                                                            </tr>                                                                
                                                                            <tr>                                                                
                                                                                <td style="padding: 7px; border: 1px solid #808080;">  
                                                                                    <font face="Roboto"></font> 
                                                                                    <font face="Roboto" size="4"><b>Administrar tus clases</b></font><br/> <br/>  
                                                                                    <font face="Roboto Condensed">
                                                                                        Gracias a la app, podrás ver las prácticas a realizar, tu historial, tus clases actuales y más.  <br/>
                                                                                        <b>La vida académica más sencilla.</b>  
                                                                                    </font>                                                                            
                                                                                </td>                                                              
                                                                            </tr>
                                                                        </table>                                                                
                                                                    </td>                                                                    
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#201E1E" style="padding: 30px 30px 30px 30px; color: #FFFF; border: none;">
                                                <table border="1" cellpadding="0" cellspacing="0" width="100%" style="border: none;">
                                                    <tr style="border: none;">
                                                        <td align="center" style="color: #FFFF; border: none;">
                                                            <table border="0" cellpadding="0" cellspacing="0" style="border: none;">
                                                                <tr >
                                                                    <td >
                                                                        <a href="http://fcq.uach.mx/">
                                                                            <img src="https://i.imgur.com/OclWD0W.png" alt="" width="60" height="80" />
                                                                        </a>
                                                                    </td>
                                                                    
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td width="75%" style="color: #FFFF; padding: 10px; border: none; ">
                                                            <font face="Roboto"><b>&reg; 2019 Facultad de Ciencias Químicas.<br/></b> </font>
                                                            <font face="Roboto Condensed" size="2">
                                                                Universidad Autónoma de Chihuahua <br/>
                                                                Circuito Universitario s/n, Campus II <br/>
                                                                Tel. +52 (614) 236 6000 <br/>
                                                                Chihuahua, Chih. México
                                                            </font>                                               
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>  
                                    </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>  
        </table>
    </body>
</html>